# Java & Spring Boot
target/
*.class
*.jar
*.war
*.iml

# Logs
*.log
logs/
*.out

# IDE-specific
/.idea/
/*.iml
*.iws
*.ipr
*.bak
*.swp

# OS files
.DS_Store
Thumbs.db

# Maven/Gradle
.mvn/
build/
.gradle/

# Environment
.env
application.properties
application.yml
